@charset "UTF-8";
table { border: 3px solid green; 
	border-bottom-left-radius: 15px; 
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px; 
	border-top-right-radius: 15px;
}

tr { height: 60px; }
th#title { font-size: 25pt; font-weight: bold; color: maroon; font-family: 나눔고딕코딩; }
td { width: 100px; }

td.sunday { text-align: center; font-size: 15pt; font-weight: bold; color: white; background: red; }
td.etcday { text-align: center; font-size: 15pt; font-weight: bold; color: white; background: black;}
td.saturday { text-align: center; font-size: 15pt; font-weight: bold; color: white; background: blue;}

td.sun { text-align: right; vertical-align: top; font-size: 12pt; font-weight: bold; color: red; border: 1px solid; }
td.etc { text-align: right; vertical-align: top; font-size: 12pt; font-weight: bold; color: black; border: 1px solid; }
td.sat { text-align: right; vertical-align: top; font-size: 12pt; font-weight: bold; color: blue; border: 1px solid; }

td.beforesun { text-align: right; vertical-align: top; font-size: 8pt; font-weight: bold; color: red; background: silver; }
td.before { text-align: right; vertical-align: top; font-size: 8pt; font-weight: bold; color: black; background: silver; }

td.aftersat { text-align: right; vertical-align: top; font-size: 8pt; font-weight: bold; color: blue; background: silver; }
td.after { text-align: right; vertical-align: top; font-size: 8pt; font-weight: bold; color: black; background: silver; }

span { color: red; text-align: right; font-size: 8pt; font-weight: bold; }
td.today { text-align: right; vertical-align: top; font-size: 12pt; font-weight: bold; color: white; background: purple; }

/* 하이퍼링크 스타일 지정하기 */
a:link { color: black; text-decoration: none; } /* 한 번도 방문(클릭)하지 않은 하이퍼링크 */
a:visited { color: black; text-decoration: none; } /* 한 번 이상 방문한 하이퍼링크 */
a:hover { color: red; text-decoration: underline; } /* 하이퍼링크 위에 마우스를 올렸을 때 */
a:active { color: blue; text-decoration: none; } /* 하이퍼링크를 마우스로 누르고 있을 때 */
